{% extends "common/layout/base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleName = 'pages.yourServices.title' | translate %}
{% set activeNav = 'your-services' %}

{% block content %}
  <div class="govuk-grid-row" id="your-services">
    <div class="govuk-grid-column-two-thirds {{ rowClasses }}">
      <h1 class="govuk-heading-xl your-services__heading">{{ 'pages.yourServices.header' | translate }}</h1>
      <div class="your-services__signed-in-status">
        <p class="govuk-body">{{ 'pages.yourServices.signedInStatus' | translate }}
            <strong>{{ email }}</strong>
        </p>
      </div>
      {% if not (servicesList.length or accountsList.length) %}
        {# Display an empty state when no accounts nor services have been used #}
        {# This should be an edge case as the only pathways into the account would be signing up via other services #}
      <div class="your-services__card your-services__card--empty">
        <div class="your-services__card__content">
          <p class="govuk-body">{{ 'pages.yourServices.empty' | translate }}</p>
        </div>
      </div>
      {% endif %}
      {% if servicesList.length and accountsList.length %}
        {# Show heading ONLY when there are both accounts and services #}
        <h2 class="govuk-heading-m">{{ 'pages.yourServices.accountsList.heading' | translate }}</h2>
      {% endif %}
      {% if accountsList.length %}
      <ul class="govuk-list your-services__list">
        {% for account in accountsList %}
          {% set locale = ['pages.yourServices.clientRegistry.', env, '.', account.client_id, '.'] | join %}
          <li class="your-services__card">
            <h3 class="govuk-heading-s your-services__card__heading">{{ [locale, 'header'] | join | translate }}</h2>
            <div class="your-services__card__content">
              <p class="govuk-body">{{ [locale, 'description'] | join | translate }}</p>
              <p class="govuk-body">
                <a class="govuk-link" href="{{ [locale, 'link_href'] | join | translate }}">{{ [locale, 'link_text'] | join | translate }}</a>
              </p>
              <p class="govuk-body govuk-body your-services__card__last-used">{{ 'pages.yourServices.lastUsed' | translate }}: {{ account.last_accessed_readable_format }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if servicesList.length and accountsList.length %}
        {# Show heading ONLY when there are both accounts and services #}
        <h2 class="govuk-heading-m">{{ 'pages.yourServices.servicesList.heading' | translate }}</h2>
      {% endif %}
      {% if servicesList.length %}
      <ul class="govuk-list your-services__list">
        {% for service in servicesList %}
          {% set locale = ['pages.yourServices.clientRegistry.', env, '.', service.client_id, '.'] | join %}
          <li class="your-services__card">
            <div class="your-services__card__content">
            <h3 class="govuk-heading-s govuk-!-font-weight-regular">
              <a class="govuk-link" href="{{ [locale, 'link_href'] | join | translate }}">{{ [locale, 'link_text'] | join | translate }}</a>
            </h3>
            <p class="govuk-body your-services__card__last-used">{{ 'pages.yourServices.lastUsed' | translate }}: {{ service.last_accessed_readable_format }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="information-box">
        <h2 class="govuk-heading-m">{{ 'pages.yourServices.informationBox.heading' | translate }}</h2>
        <p class="govuk-body">{{ 'pages.yourServices.informationBox.paragraph1' | translate }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ 'pages.yourServices.informationBox.listItem1' | translate }}</li>
          <li>{{ 'pages.yourServices.informationBox.listItem2' | translate }}</li>
          <li>{{ 'pages.yourServices.informationBox.listItem3' | translate }}</li>
          <li>{{ 'pages.yourServices.informationBox.listItem4' | translate }}</li>
          <li>{{ 'pages.yourServices.informationBox.listItem5' | translate }}</li>
          <li>{{ 'pages.yourServices.informationBox.listItem6' | translate }}</li>
        </ul>
        <p class="govuk-body">{{ 'pages.yourServices.informationBox.paragraph2' | translate }}</p>
        <p class="govuk-body">{{ 'pages.yourServices.informationBox.paragraph3' | translate }}</p>
      </div>
    </div>
  </div>
{% endblock %}
