{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitleName = 'pages.changeAuthenticatorApp.title' | translate %}

{% block pageContent %}
    {{ govukErrorSummary({
        errorList: errorList,
        titleText: "general.errorSummaryTitle" | translate
    }) if errorList|length > 0}}
    <h1 class="govuk-heading-xl">{{ 'pages.changeAuthenticatorApp.title' | translate }}</h1>
    <ol class="govuk-list govuk-list">
        <li>
            <p>{{ 'pages.changeAuthenticatorApp.step1.text' | translate }}</p>
            <p>{{ govukDetails({
                summaryText: "pages.changeAuthenticatorApp.step1.hintTitle" | translate,
                html: "pages.changeAuthenticatorApp.step1.hintText" | translate | safe
                })
            }}</p>
        </li>
        <li>
            <p>{{ 'pages.changeAuthenticatorApp.step2.text' | translate }}</p>
            <img id="qr-code" src="{{qrCode}}" alt="QR Code Image">
            <p>{{ govukDetails({
                summaryText: "pages.changeAuthenticatorApp.step2.hintTitle" | translate,
                html: "pages.changeAuthenticatorApp.step2.hintText" | translate | safe | replace ("[secretKey]", formattedSecret)
            }) }}</p>
        </li>
        <li>
            {{ 'pages.changeAuthenticatorApp.step3.text' | translate }}
        </li>
        <li>
            <form method="post" action="{{ "CHANGE_AUTHENTICATOR_APP" | getPath }}">
                <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                <input type="hidden" name="authAppSecret" value="{{authAppSecret}}"/>
                <p>{{ 'pages.changeAuthenticatorApp.step4.text' | translate }}</p>

                <p>{{ govukInput({
                label: {
                text: 'pages.changeAuthenticatorApp.step4.label' | translate
                },
                hint: {
                    text: 'pages.changeAuthenticatorApp.step4.hint' | translate
                },
                classes: "govuk-input--width-10 govuk-!-font-weight-bold",
                id: "code",
                name: "code",
                inputmode: "numeric",
                spellcheck: false,
                autocomplete: "one-time-code",
                errorMessage: {
                    text: errors['code'].text
                } if (errors['code'])
                })
                }}</p>

                {{ govukButton({
                "text": "general.continue.label" | translate,
                "type": "Submit",
                "preventDoubleClick": true
                }) }}
            </form>
        </li>
    </ol>
{% endblock %}