{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% block backLinkBlock %}
{% endblock %}
{% block pageContent %}
    {{ govukPanel({
        titleText: heading
    }) }}
    <p class='govuk-body'>{{ message | safe }}</p>
    <p><a class='govuk-button' href='{{ backLink }}'>{{ backLinkText }}</a></p>
{% endblock %}

{% if oplValues %}
  {% block scripts %}
      {{ga4OnPageLoad({ nonce: scriptNonce,statusCode:"200",englishPageTitle:pageTitleName, taxonomyLevel1: "accounts", taxonomyLevel2:oplValues.taxonomyLevel2, taxonomyLevel3:oplValues.taxonomyLevel3, contentId:oplValues.contentId,loggedInStatus:oplValues.loggedInStatus,dynamic:true})}}
  {% endblock %}
{% endif %}