@import "base";
@import "core/index";
@import "utilities/index";
@import "objects/index";
@import "overrides/index";

// start Design System component imports
@import "components/back-link/back-link";
@import "components/button/button";
@import "components/checkboxes/checkboxes";
@import "components/cookie-banner/cookie-banner";
@import "components/details/details";
@import "components/error-summary/error-summary";
@import "components/footer/footer";
@import "components/header/header";
@import "components/input/input";
@import "components/inset-text/inset-text";
@import "components/pagination/pagination";
@import "components/panel/panel";
@import "components/password-input/password-input";
@import "components/phase-banner/phase-banner";
@import "components/skip-link/skip-link";
@import "components/summary-list/summary-list";
@import "components/warning-text/warning-text";
@import "components/radios/radios";
// end Design System component imports

// language toggle component import
@import "../../../node_modules/@govuk-one-login/frontend-ui/build/components/language-select";

.information-box {
  margin-bottom: govuk-spacing(4);
  padding: govuk-spacing(3);
  background: govuk-colour("black", $variant: "tint-95");
  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(6);
    margin-top: govuk-spacing(2);
    margin-bottom: govuk-spacing(8);
  }
}

.summary-list-container {
  padding: govuk-spacing(4) govuk-spacing(4) 0 govuk-spacing(4);
  margin-bottom: govuk-spacing(6);
  border: 1px solid govuk-functional-colour(border);

  .govuk-summary-list {
    @include govuk-media-query($until: "tablet") {
      padding-top: govuk-spacing(3);
    }
  }

  @include govuk-media-query($from: "tablet") {
    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
      padding-top: govuk-spacing(4);
      padding-bottom: govuk-spacing(4);
    }
  }
}

.summary-list-container__content {
  &:not(:last-child) {
    border-bottom: 1px solid govuk-functional-colour(border);
  }

  &:not(:first-child) {
    @include govuk-responsive-margin(4, "top");
  }
}

.govuk-summary-list--security {
  margin-bottom: 0;
}

.govuk-summary-list--activity-log {
  .govuk-summary-list__key {
    @include govuk-font($size: 24, $weight: bold);
  }

  @include govuk-media-query($from: "tablet") {
    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
      padding-top: govuk-spacing(4);
      padding-bottom: govuk-spacing(4);
    }
  }
}

.govuk-input--disabled {
  background-color: govuk-colour("black", $variant: "tint-95");
}

// the modifier below is in place to remove the non-optional blue border at the bottom of the Design System header component
// this is not ideal, however since there is no option/flag to remove the border from the component, it is the only way
.govuk-header--with-account-navigation {
  border-bottom: 0;

  .govuk-header__container {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .govuk-header__logo {
    float: left;
    width: 100%;
  }
}

.govuk-header--with-signout {
  .govuk-template--rebranded & {
    .govuk-header__logo {
      width: 100%;
    }
  }
}

.account-navigation {
  background-color: govuk-colour("black", $variant: "tint-95");
  .govuk-template--rebranded & {
    background-color: $_govuk-rebrand-template-background-colour;
    border-bottom: 1px solid $_govuk-rebrand-border-colour-on-blue-tint-95;
  }
  border-bottom: 1px solid govuk-functional-colour(border);
  position: relative;
}

.account-navigation__list {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.account-navigation__list-item {
  display: inline-block;
  margin: 0 govuk-spacing(4) 0 0;

  @include govuk-media-query($from: tablet) {
    margin: 0 govuk-spacing(6) 0 0;
  }
}

$nav-link-padding: govuk-spacing(3);
$nav-link-outline-thickness: 2px;
$nav-active-border-thickness: 5px;
$nav-link-padding-left: $nav-link-padding - 2;
$nav-button-padding-bottom: $nav-link-padding + $nav-link-outline-thickness;

/* Combined styles for buttons */
.account-header-navigation__button {
  border: 0 none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
    span {
      @include govuk-focused-text;
    }
  }
}

/* Specific styles for .account-header-navigation__button */
.account-header-navigation__button-content {
  @include govuk-font($size: 16);
  color: govuk-colour("white");
  @include govuk-link-style-inverse;

  &:not(:hover) {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;

    @if $govuk-link-underline-offset {
      text-underline-offset: $govuk-link-underline-offset;
    }
  }

  &:focus {
    @include govuk-focused-text;
  }
}

// /* Positioning for the navigation form */

.account-header-navigation__form {
  position: absolute;
  padding: govuk-spacing(2) 0 govuk-spacing(2) 0;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);

  @include govuk-media-query($until: 480px) {
    position: relative;
    padding-top: govuk-spacing(1);
    transform: none;
  }
}

.account-navigation__link {
  @extend .govuk-link;
  display: inline-block;
  padding: $nav-link-padding-left 0 $nav-link-padding;
  margin-top: $nav-link-outline-thickness;

  &:not(:hover) {
    text-decoration: none;
  }

  &:visited {
    color: govuk-functional-colour(link);

    &:hover {
      color: govuk-functional-colour(link-hover);
    }

    &:focus {
      color: govuk-functional-colour(focus-text);
    }
  }

  .account-navigation__list-item--active & {
    border-bottom: $nav-active-border-thickness solid
      govuk-functional-colour(link);
    padding: $nav-link-padding-left 0 govuk-spacing(2);

    &:focus {
      border-bottom: none;
      padding: $nav-link-padding-left 0 $nav-link-padding;
      margin-top: $nav-link-outline-thickness;
    }

    &:hover {
      border-color: govuk-functional-colour(link-hover);
    }
  }
}

.your-services__heading {
  margin-bottom: govuk-spacing(3);
}

.your-services__signed-in-status {
  margin-bottom: govuk-spacing(6);
}

.your-services__card {
  border: 1px solid govuk-functional-colour(border);

  // this degree of specificity is required to overrule the default govuk-list style
  .govuk-list > & {
    margin-bottom: govuk-spacing(4);
  }

  &.your-services__card--empty {
    margin-bottom: govuk-spacing(6);
  }
}

.your-services__card__heading {
  padding: govuk-spacing(3) govuk-spacing(3) govuk-spacing(4) govuk-spacing(3);
  background-color: govuk-colour("black", $variant: "tint-95");
  margin: 0;
}

.your-services__card__content {
  @include govuk-responsive-padding(4, "top");
  @include govuk-responsive-padding(3, "right");
  @include govuk-responsive-padding(3, "left");
}

.your-services__card__last-used {
  color: govuk-functional-colour(secondary-text);
}

.your-services__list {
  margin-bottom: govuk-spacing(7);
}

.contact-reference {
  padding: govuk-spacing(3);
  background-color: govuk-colour("black", $variant: "tint-95");
  border-left: 5px solid govuk-functional-colour(border);
}

.contact-reference__code {
  display: block;
  margin: govuk-spacing(2) 0;
  @include govuk-font($size: 48, $weight: bold);
}

.contact-webchat-js-enabled {
  display: none;
}

.js-enabled .contact-webchat-js-enabled {
  display: unset;
}

.launch-webchat-link {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: inherit;
  color: govuk-functional-colour(link);

  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;

  &[hidden] {
    display: inline-block;
    visibility: hidden;
  }
}

.sa-chat-tab {
  // limit size of webchat button when zoom is applied
  max-width: 25vw !important;
  max-height: 25vw !important;
  bottom: 2vh !important;
  right: 2vw !important;
  left: auto !important;
  @include govuk-media-query($from: tablet) {
    max-width: 20vw !important;
    max-height: 20vw !important;
  }
}

.sa-message-count {
  // ensure webchat notification icon number is visible when zoom is applied
  // the notification counter has fixed width and height which is no longer readable when text zoom is applied
  min-height: 1.1em;
  min-width: 1.1em;
  --sa-message-count-x-position: -17%;
  --sa-message-count-y-position: -20%;
}

.activity-history__list {
  list-style: none;
  padding: 0;
  margin: govuk-spacing(4) 0;
  border-top: 1px solid govuk-functional-colour(border);
}

.activity-history__list-item {
  border-bottom: 1px solid govuk-functional-colour(border);
  @include govuk-responsive-padding(4, "top");
}

.search-results {
  border-top: 1px solid govuk-functional-colour(border);
}

.search-results__list-item {
  margin-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  border-bottom: 1px solid govuk-functional-colour(border);
}

.search-services__input:not(:focus) {
  border-right-width: 0;
}

.search-services__submit {
  border: 0;
  cursor: pointer;
  border-radius: 0;
  // render a border in high contrast mode
  outline: $govuk-border-width-form-element solid transparent;
  // Ensure outline appears outside of the element
  outline-offset: 0;
  position: relative;
  padding: 0;
  width: govuk-px-to-rem(40px);
  height: govuk-px-to-rem(40px);
  text-indent: -5000px;
  overflow: hidden;
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  &:hover {
    background-color: lighten(govuk-colour("blue"), 5%);
  }
  &:focus {
    z-index: 2;
    outline: $govuk-focus-width solid govuk-functional-colour(focus);
    // Double the border by adding its width again. Use `box-shadow` for this // instead of changing `border-width` - this is for consistency with
    // Also, `outline` cannot be utilised
    // here as it is already used for the yellow focus state.
    box-shadow: inset 0 0 0 $govuk-border-width-form-element * 2
      govuk-colour("black");
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

.search-services__magnifier-icon {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0.5);
}

.search-results__filter-panel {
  display: flex;
  justify-content: space-between;
}
