$govuk-new-link-styles: true;

@import "base";
@import "core/all";
@import "utilities/all";
@import "objects/all";
@import "overrides/all";

// start Design System component imports
@import "components/back-link/back-link";
@import "components/button/button";
@import "components/character-count/character-count";
@import "components/checkboxes/checkboxes";
@import "components/cookie-banner/cookie-banner";
@import "components/details/details";
@import "components/error-summary/error-summary";
@import "components/footer/footer";
@import "components/header/header";
@import "components/input/input";
@import "components/inset-text/inset-text";
@import "components/pagination/pagination";
@import "components/panel/panel";
@import "components/phase-banner/phase-banner";
@import "components/skip-link/skip-link";
@import "components/summary-list/summary-list";
@import "components/warning-text/warning-text";
// end Design System component imports

.information-box {
  margin-bottom: govuk-spacing(4);
  padding: govuk-spacing(3);
  background: govuk-colour("light-grey");
  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(6);
    margin-top: govuk-spacing(2);
    margin-bottom: govuk-spacing(8);
  }
}

.summary-list-container {
  padding: govuk-spacing(4) govuk-spacing(4) 0 govuk-spacing(4);
  margin-bottom: govuk-spacing(6);
  border: 1px solid $govuk-border-colour;

  .govuk-summary-list {
    @include govuk-media-query($until: "tablet") {
      padding-top: govuk-spacing(3);
    }
  }

  @include govuk-media-query($from: "tablet") {
    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
      padding-top: govuk-spacing(4);
      padding-bottom: govuk-spacing(4);
    }
  }
}

.summary-list-container__context {
  border-bottom: 1px solid $govuk-border-colour;
}

.govuk-summary-list--security {
  margin-bottom: 0;
}

.govuk-summary-list--activity-log {
  .govuk-summary-list__key {
    @include govuk-font($size: 24, $weight: bold);
  }

  @include govuk-media-query($from: "tablet") {
    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
      padding-top: govuk-spacing(4);
      padding-bottom: govuk-spacing(4);
    }
  }
}

.govuk-show-password__input-wrapper {
  display: table; // IE fallback
  display: flex;
  width: 100%;
  flex-direction: column;

  @include govuk-media-query($from: mobile) {
    flex-direction: row;
  }

  .govuk-input--with-password {
    display: table-cell;

    &:focus {
      z-index: 1;
    }

    &::-ms-reveal {
      display: none;
    }
  }
}

.govuk-show-password__toggle {
  @include govuk-font(19);
  z-index: 0;
  display: table-cell; // IE fallback
  padding: govuk-spacing(1) govuk-spacing(3);
  min-width: 5.5em; // stops the button width jumping when the text changes
  color: $govuk-link-colour;
  text-decoration: underline;
  background: govuk-colour("white");
  border: solid 2px $govuk-input-border-colour;
  white-space: nowrap;
  cursor: pointer;

  @include govuk-media-query($until: mobile) {
    padding: govuk-spacing(1);
    width: 100%;
    margin-top: -2px;
    white-space: normal;
  }

  @include govuk-media-query($from: mobile) {
    margin-left: -2px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &:hover {
    color: $govuk-link-hover-colour;
    @include govuk-link-hover-decoration;
  }

  &:focus {
    z-index: 1;
    background: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
    outline: 0;
  }

  &:active {
    z-index: 1;
    background: govuk-colour("white");
    border-color: $govuk-focus-colour;
    color: $govuk-link-active-colour;
  }
}

.govuk-input--disabled {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
}

// the modifier below is in place to remove the non-optional blue border at the bottom of the Design System header component
// this is not ideal, however since there is no option/flag to remove the border from the component, it is the only way
.govuk-header--with-account-navigation {
  border-bottom: 0;

  .govuk-header__container {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .govuk-header__logo {
    float: left;
    width: 100%;
  }
}

.govuk-header--right-align-nav .govuk-header__navigation-list {
  @include govuk-media-query($from: tablet) {
    text-align: right;
  }
}

.govuk-header__link--homepage {
  margin-right: govuk-spacing(4);
}

.account-navigation {
  background-color: govuk-colour("light-grey");
  border-bottom: 1px solid $govuk-border-colour;
  position: relative;
}

.account-navigation__list {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.account-navigation__list-item {
  display: inline-block;
  margin: 0 govuk-spacing(4) 0 0;

  @include govuk-media-query($from: tablet) {
    margin: 0 govuk-spacing(6) 0 0;
  }
}

$nav-link-padding: govuk-spacing(3);
$nav-link-outline-thickness: 2px;
$nav-active-border-thickness: 5px;
$nav-link-padding-left: $nav-link-padding - 2;
$nav-button-padding-bottom: $nav-link-padding + $nav-link-outline-thickness;

/* Combined styles for buttons */
.account-header-navigation__button, .account-navigation__button {
  border: 0 none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
    span {
      @include govuk-focused-text;
    }
  }
}

/* Specific styles for .account-header-navigation__button */
.account-header-navigation__button-content {
  @include govuk-font($size: 16);
  color: govuk-colour("white");
  @include govuk-link-style-inverse;

  &:not(:hover) {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;

    @if $govuk-link-underline-offset {
      text-underline-offset: $govuk-link-underline-offset;
    }
  }

  &:focus {
    @include govuk-focused-text;
  }
}

// /* Positioning for the navigation form */

.account-header-navigation__form {
  position: absolute;
  padding: 5px;
  right: 0;
  bottom: 7px;
  @include govuk-media-query($until: mobile) {
    position: relative;
    float: left;
    padding-left: 0;
  }
}

// /* Specific styles for .account-navigation__button */
.account-navigation__button {
  color: $govuk-link-colour;
  font-size: inherit;

  &:focus {
    span {
      padding: $nav-link-padding-left 0 16px;
    }
  }
}

.account-navigation__button-content,
.account-navigation__link {
  @extend .govuk-link;
  display: inline-block;
  font-weight: bold;
  padding: $nav-link-padding-left 0 govuk-spacing(2);
  margin-top: $nav-link-outline-thickness;

  &:not(:hover) {
    text-decoration: none;
  }

  &:focus {
    padding: $nav-link-padding-left 0 $nav-link-padding;
  }

  &:visited {
    color: $govuk-link-colour;

    &:hover {
      color: $govuk-link-hover-colour;
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }

  .account-navigation__list-item--active & {
    border-bottom: $nav-active-border-thickness solid $govuk-link-colour;

    &:focus {
      border-bottom: none;
      padding: $nav-link-padding-left 0 $nav-link-padding;
      margin-top: $nav-link-outline-thickness;
    }

    &:hover {
      border-color: $govuk-link-hover-colour;
    }
  }
}

.account-navigation__button-content {
  padding: $nav-link-padding-left 0 $nav-link-padding-left;
}

.your-services__heading {
  margin-bottom: govuk-spacing(3);
}

.your-services__signed-in-status {
  margin-bottom: govuk-spacing(6);
}

.your-services__card {
  border: 1px solid $govuk-border-colour;

  // this degree of specificity is required to overrule the default govuk-list style
  .govuk-list > & {
    margin-bottom: govuk-spacing(4);
  }

  &.your-services__card--empty {
    margin-bottom: govuk-spacing(6);
  }
}

.your-services__card__heading {
  padding: govuk-spacing(3) govuk-spacing(3) govuk-spacing(4) govuk-spacing(3);
  background-color: govuk-colour("light-grey");
  margin: 0;
}

.your-services__card__content {
  @include govuk-responsive-padding(4, "top");
  @include govuk-responsive-padding(3, "right");
  @include govuk-responsive-padding(3, "left");
}

.your-services__card__last-used {
  color: $govuk-secondary-text-colour;
}

.your-services__list {
  margin-bottom: govuk-spacing(7);
}

.contact-reference {
  padding: govuk-spacing(3);
  background-color: govuk-colour(light-grey);
  border-left: 5px solid $govuk-border-colour;
}

.contact-reference__code {
  display: block;
  margin: govuk-spacing(2) 0;
  @include govuk-font($size: 48, $weight: bold);
}

.language-select {
  margin: govuk-spacing(2) 0;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.language-select__list {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: 0;
  float: right;
  text-align: right;
  @include govuk-media-query($until: tablet) {
    float: none;
    text-align: left;
  }
}

.language-select__link {
  padding: govuk-spacing(1);
}

.language-select__list-item {
  @include govuk-font($size: 16);
  display: inline-block;
  margin-right: 0;
  border-bottom: 0;
}

.language-select__list-item [aria-current] {
  padding: govuk-spacing(1);
}

.language-select__list-item + .language-select__list-item::before {
  content: "|";
  color: $govuk-border-colour;
}

.launch-webchat-link {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: inherit;
  color: $govuk-link-colour;

  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;

  &[hidden] {
    display: inline-block;
    visibility: hidden;
  }
}

.sa-chat-tab {
  // limit size of webchat button when zoom is applied
  max-width: 25vw !important;
  max-height: 25vw !important;
  bottom: 2vh !important;
  right: 2vw !important;
  left: auto !important;
  @include govuk-media-query($from: tablet) {
    max-width: 20vw !important;
    max-height: 20vw !important;
  }
}

.sa-message-count {
  // ensure webchat notification icon number is visible when zoom is applied
  // the notification counter has fixed width and height which is no longer readable when text zoom is applied
  min-height: 1.1em;
  min-width: 1.1em;
  --sa-message-count-x-position: -17%;
  --sa-message-count-y-position: -20%;
}

.activity-history__list {
  list-style: none;
  padding: 0;
  margin: govuk-spacing(4) 0;
  border-top: 1px solid $govuk-border-colour;
}

.activity-history__list-item {
  border-bottom: 1px solid $govuk-border-colour;
  @include govuk-responsive-padding(4, "top");
}
