@import "base";
@import "core/index";
@import "utilities/index";
@import "objects/index";
@import "overrides/index";

// start Design System component imports
@import "components/back-link/back-link";
@import "components/button/button";
@import "components/character-count/character-count";
@import "components/checkboxes/checkboxes";
@import "components/cookie-banner/cookie-banner";
@import "components/details/details";
@import "components/error-summary/error-summary";
@import "components/footer/footer";
@import "components/header/header";
@import "components/input/input";
@import "components/inset-text/inset-text";
@import "components/pagination/pagination";
@import "components/panel/panel";
@import "components/password-input/password-input";
@import "components/phase-banner/phase-banner";
@import "components/skip-link/skip-link";
@import "components/summary-list/summary-list";
@import "components/warning-text/warning-text";
@import "components/radios/radios";
// end Design System component imports

// language toggle component import
@import "../../../node_modules/@govuk-one-login/frontend-language-toggle/stylesheet/styles";

.information-box {
  margin-bottom: govuk-spacing(4);
  padding: govuk-spacing(3);
  background: govuk-colour("light-grey");
  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(6);
    margin-top: govuk-spacing(2);
    margin-bottom: govuk-spacing(8);
  }
}

.summary-list-container {
  padding: govuk-spacing(4) govuk-spacing(4) 0 govuk-spacing(4);
  margin-bottom: govuk-spacing(6);
  border: 1px solid $govuk-border-colour;

  .govuk-summary-list {
    @include govuk-media-query($until: "tablet") {
      padding-top: govuk-spacing(3);
    }
  }

  @include govuk-media-query($from: "tablet") {
    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
      padding-top: govuk-spacing(4);
      padding-bottom: govuk-spacing(4);
    }
  }
}

.summary-list-container__content {
  &:not(:last-child) {
    border-bottom: 1px solid $govuk-border-colour;
  }

  &:not(:first-child) {
    @include govuk-responsive-margin(4, "top");
  }
}

.govuk-summary-list--security {
  margin-bottom: 0;
}

.govuk-summary-list--activity-log {
  .govuk-summary-list__key {
    @include govuk-font($size: 24, $weight: bold);
  }

  @include govuk-media-query($from: "tablet") {
    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
      padding-top: govuk-spacing(4);
      padding-bottom: govuk-spacing(4);
    }
  }
}

.govuk-input--disabled {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
}

// the modifier below is in place to remove the non-optional blue border at the bottom of the Design System header component
// this is not ideal, however since there is no option/flag to remove the border from the component, it is the only way
.govuk-header--with-account-navigation {
  border-bottom: 0;

  .govuk-header__container {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .govuk-header__logo {
    float: left;
    width: 100%;
  }
}

.govuk-header--with-signout {
  .govuk-template--rebranded & {
    .govuk-header__logo {
      width: 100%;
      padding-right: govuk-spacing(9);
    }
  }

  .govuk-header__navigation-list {
    @include govuk-media-query($from: tablet) {
      text-align: right;
    }
  }
}

.account-navigation {
  background-color: govuk-colour("light-grey");
  .govuk-template--rebranded & {
    background-color: $_govuk-rebrand-template-background-colour;
    border-bottom: 1px solid $_govuk-rebrand-border-colour-on-blue-tint-95;
  }
  border-bottom: 1px solid $govuk-border-colour;
  position: relative;
}

.account-navigation__list {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.account-navigation__list-item {
  display: inline-block;
  margin: 0 govuk-spacing(4) 0 0;

  @include govuk-media-query($from: tablet) {
    margin: 0 govuk-spacing(6) 0 0;
  }
}

$nav-link-padding: govuk-spacing(3);
$nav-link-outline-thickness: 2px;
$nav-active-border-thickness: 5px;
$nav-link-padding-left: $nav-link-padding - 2;
$nav-button-padding-bottom: $nav-link-padding + $nav-link-outline-thickness;

/* Combined styles for buttons */
.account-header-navigation__button {
  border: 0 none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
    span {
      @include govuk-focused-text;
    }
  }
}

/* Specific styles for .account-header-navigation__button */
.account-header-navigation__button-content {
  @include govuk-font($size: 16);
  color: govuk-colour("white");
  @include govuk-link-style-inverse;

  &:not(:hover) {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;

    @if $govuk-link-underline-offset {
      text-underline-offset: $govuk-link-underline-offset;
    }
  }

  &:focus {
    @include govuk-focused-text;
  }
}

// /* Positioning for the navigation form */

.account-header-navigation__form {
  position: absolute;
  padding: 5px;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);

  @include govuk-media-query($until: mobile) {
    position: relative;
    float: left;
    padding-left: 0;
    transform: none;
  }
}

.account-navigation__link {
  @extend .govuk-link;
  display: inline-block;
  padding: $nav-link-padding-left 0 govuk-spacing(2);
  margin-top: $nav-link-outline-thickness;

  &:not(:hover) {
    text-decoration: none;
  }

  &:focus {
    padding: $nav-link-padding-left 0 $nav-link-padding;
  }

  &:visited {
    color: $govuk-link-colour;

    &:hover {
      color: $govuk-link-hover-colour;
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }

  .account-navigation__list-item--active & {
    border-bottom: $nav-active-border-thickness solid $govuk-link-colour;

    &:focus {
      border-bottom: none;
      padding: $nav-link-padding-left 0 $nav-link-padding;
      margin-top: $nav-link-outline-thickness;
    }

    &:hover {
      border-color: $govuk-link-hover-colour;
    }
  }
}

.your-services__heading {
  margin-bottom: govuk-spacing(3);
}

.your-services__signed-in-status {
  margin-bottom: govuk-spacing(6);
}

.your-services__card {
  border: 1px solid $govuk-border-colour;

  // this degree of specificity is required to overrule the default govuk-list style
  .govuk-list > & {
    margin-bottom: govuk-spacing(4);
  }

  &.your-services__card--empty {
    margin-bottom: govuk-spacing(6);
  }
}

.your-services__card__heading {
  padding: govuk-spacing(3) govuk-spacing(3) govuk-spacing(4) govuk-spacing(3);
  background-color: govuk-colour("light-grey");
  margin: 0;
}

.your-services__card__content {
  @include govuk-responsive-padding(4, "top");
  @include govuk-responsive-padding(3, "right");
  @include govuk-responsive-padding(3, "left");
}

.your-services__card__last-used {
  color: $govuk-secondary-text-colour;
}

.your-services__list {
  margin-bottom: govuk-spacing(7);
}

.contact-reference {
  padding: govuk-spacing(3);
  background-color: govuk-colour("light-grey");
  border-left: 5px solid $govuk-border-colour;
}

.contact-reference__code {
  display: block;
  margin: govuk-spacing(2) 0;
  @include govuk-font($size: 48, $weight: bold);
}

.contact-webchat-js-enabled {
  display: none;
}

.js-enabled .contact-webchat-js-enabled {
  display: unset;
}

.launch-webchat-link {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: inherit;
  color: $govuk-link-colour;

  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;

  &[hidden] {
    display: inline-block;
    visibility: hidden;
  }
}

.sa-chat-tab {
  // limit size of webchat button when zoom is applied
  max-width: 25vw !important;
  max-height: 25vw !important;
  bottom: 2vh !important;
  right: 2vw !important;
  left: auto !important;
  @include govuk-media-query($from: tablet) {
    max-width: 20vw !important;
    max-height: 20vw !important;
  }
}

.sa-message-count {
  // ensure webchat notification icon number is visible when zoom is applied
  // the notification counter has fixed width and height which is no longer readable when text zoom is applied
  min-height: 1.1em;
  min-width: 1.1em;
  --sa-message-count-x-position: -17%;
  --sa-message-count-y-position: -20%;
}

.activity-history__list {
  list-style: none;
  padding: 0;
  margin: govuk-spacing(4) 0;
  border-top: 1px solid $govuk-border-colour;
}

.activity-history__list-item {
  border-bottom: 1px solid $govuk-border-colour;
  @include govuk-responsive-padding(4, "top");
}

// Temporarily over-write the CSS of the Tag with the old style preceding govuk-frontend v5
// This is to keep the Phase banner cohesive while different parts of One Login upgrade to v5+

.govuk-tag {
  @include govuk-font($size: 16, $weight: bold, $line-height: 1);
  display: inline-block;

  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;

  // When a user customises their colours often the background is removed,
  // by adding a outline we ensure that the tag component still keeps it's meaning.
  // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
  outline: 2px solid transparent;
  outline-offset: -2px;
  letter-spacing: 1px !important;
  text-decoration: none !important;
  text-transform: uppercase !important;

  // the most important properties for keeping the phase banner looking the same have been !important-ed
  // we use the yellow variation in non-prod environments
  &:not(.govuk-tag--yellow) {
    color: govuk-colour("white") !important;
    background-color: govuk-colour("blue") !important;
  }
}

.search-results {
  border-top: 1px solid $govuk-border-colour;
}

.search-results__list-item {
  margin-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  border-bottom: 1px solid $govuk-border-colour;
}

.search-services__input:not(:focus) {
  border-right-width: 0;
}

.search-services__submit {
  border: 0;
  cursor: pointer;
  border-radius: 0;
  // render a border in high contrast mode
  outline: $govuk-border-width-form-element solid transparent;
  // Ensure outline appears outside of the element
  outline-offset: 0;
  position: relative;
  padding: 0;
  width: govuk-px-to-rem(40px);
  height: govuk-px-to-rem(40px);
  text-indent: -5000px;
  overflow: hidden;
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  &:hover {
    background-color: lighten(govuk-colour("blue"), 5%);
  }
  &:focus {
    z-index: 2;
    outline: $govuk-focus-width solid $govuk-focus-colour;
    // Double the border by adding its width again. Use `box-shadow` for this // instead of changing `border-width` - this is for consistency with
    // Also, `outline` cannot be utilised
    // here as it is already used for the yellow focus state.
    box-shadow: inset 0 0 0 $govuk-border-width-form-element * 2
      govuk-colour("black");
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

.search-services__magnifier-icon {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0.5);
}

.search-results__filter-panel {
  display: flex;
  justify-content: space-between;
}
