version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
    cooldown:
      default-days: 7
    target-branch: main
    labels:
      - dependabot
      - dependencies
    ignore:
      - dependency-name: "node"
        versions: ["17.x", "18.x", "19.x"]
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"
    commit-message:
      prefix: BAU
    groups:
      production-dependencies:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      dev-dependencies:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
    target-branch: main
    labels:
      - dependabot
      - dependencies
    commit-message:
      prefix: BAU
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"

  - package-ecosystem: "npm"
    directory: "/integration-tests"
    schedule:
      interval: daily
      time: "03:00"
    target-branch: main
    labels:
      - dependabot
      - dependencies
    commit-message:
      prefix: BAU
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"
    groups:
      production-dependencies:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      dev-dependencies:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: docker
    directory: "/integration-tests"
    schedule:
      interval: daily
      time: "03:00"
    target-branch: main
    labels:
      - dependabot
      - dependencies
    commit-message:
      prefix: BAU
    ignore:
      - dependency-name: "node"
        update-types:
          - "version-update:semver-major"
