{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.temporarilySuspendedPageScreen.title' | translate %}

{% block content %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.temporarilySuspendedPageScreen.heading' | translate }}</h1>

    <p class="govuk-body">{{'pages.temporarilySuspendedPageScreen.section1.paragraph1' | translate }}</p>

    <h3 class="govuk-heading-m">
      {{'pages.temporarilySuspendedPageScreen.section2.heading' | translate}}
    </h3>

    <p class="govuk-body">{{'pages.temporarilySuspendedPageScreen.section2.paragraph1' | translate }}</p>

    <p class="govuk-body">{{'pages.temporarilySuspendedPageScreen.section2.paragraph2' | translate }}</p>

{% endblock %}