{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.temporarilySuspendedPageScreen.title' | translate %}

{% block content %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.temporarilySuspendedPageScreen.heading' | translate }}</h1>

    <p class="govuk-body">{{'pages.temporarilySuspendedPageScreen.section1.paragraph1' | translate }}</p>

    <p class="govuk-body">{{'pages.temporarilySuspendedPageScreen.section2.paragraph1' | translate }}
      <a href="{{"START" | getPath}}" class="govuk-link govuk-body">
        {{'pages.temporarilySuspendedPageScreen.link.text' | translate}}
      </a>.
    </p>


{% endblock %}