default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.5

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        name: Git Lint
        stages: [commit-msg]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-private-key
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
        exclude: "package.json|package-lock.json|.*test.*\\.ts$|\\.pre-commit-config\\.yaml$"
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: no-commit-to-branch

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        exclude: "package.json|package-lock.json|src/.*/.*.test.ts|locales/.*.json"

  - repo: local
    hooks:
      - id: npm-audit
        name: NPM Audit
        pass_filenames: false
        entry: "npm run audit"
        language: system

      # replace lint-staged
      - id: prettier-fix
        name: Prettier Fix
        entry: npx prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|json|css|scss|md|yaml)$

      - id: integration-tests-check
        name: Integration tests check
        entry: bash -c "cd integration-tests && npm run check-types && npm run lint"
        language: system
        files: ^integration-tests/
        pass_filenames: false
