{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% macro govukInputWithShowPassword(settings) %}
    {{ govukPasswordInput({
      label: {
        text: settings.label
      },
      name: settings.id,
      type: "password",
      spellcheck: false,
      hint: {
        text: settings.hint
      } if settings.hint,
      errorMessage: {
        text: settings.errors[settings.id].text,
        attributes: { "data-test-id": settings.id + "-error"}
      } if (settings.errors[settings.id]),
      showPasswordText: 'general.showPassword.show' | translate,
      hidePasswordText: 'general.showPassword.hide' | translate,
      showPasswordAriaLabelText: settings.showSettings.showFullText,
      hidePasswordAriaLabelText: settings.showSettings.hideFullText,
      passwordShownAnnouncementText: settings.showSettings.announceShown,
      passwordHiddenAnnouncementText: settings.showSettings.announceHidden
    })}}
{% endmacro %}
