{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set activeNav = null %}
{% set pageTitleName = 'error.error404.title' | translate %}
{% if isUserLoggedIn %}
  {% set buttonText = button_text | default('error.error404.content.signInUserButtonText' | translate, true) %}
{% else %}
  {% set buttonText = button_text | default('error.error404.content.signOutUserButtonText' | translate, true) %}
{% endif %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{'error.error404.header' | translate }}</h1>
  <p class="govuk-body">{{'error.error404.content.paragraph1' | translate }}</p>
  <p class="govuk-body">{{'error.error404.content.paragraph2' | translate }}</p>
  {{ govukButton({
    "text": buttonText,
    "href": accountHome,
    "attributes": {"data-nav": true,"data-link": accountHome}
  }) }}
{% endblock %}
