{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% set pageTitleName = pageTitle %}
{% set hideAccountNavigation = hideAccountNavigation %}

{% block pageContent %}

{{ govukPanel({
    titleText: panelText
}) }}

{% if summaryText %}
<p class="govuk-body">{{summaryText}}</p>
{% endif %}

{% if showGovUKButton %}
{{ govukButton({
    "text": button_text|default('general.backToGovUKButtonText' | translate, true),
    "href": "https://www.gov.uk"
}) }}
{% else %}
{{ govukButton({
    "text": button_text|default('general.backToAccountButtonText' | translate, true),
    "href": "/manage-your-account"
}) }}
{% endif %}

{% endblock %}
