{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% set pageTitleName = pageTitle %}
{% set hideAccountNavigation = hideAccountNavigation %}
{% set govUkLink = "https://www.gov.uk" %}
{% set taxonomyLevel2 = taxonomyLevel2 %}

{% block pageContent %}

{{ govukPanel({
    titleText: panelText
}) }}

{% if summaryText %}
<p class="govuk-body">{{summaryText | safe }}</p>
{% endif %}

{% if showGovUKButton %}
{{ govukButton({
  "text": button_text|default('general.backToGovUKButtonText' | translate, true),
  "href": govUkLink,
  "attributes": {
    "data-nav": true,
    "data-link": govUkLink
  }
}) }}
{% else %}
{{ govukButton({
  "text": button_text|default('general.backToSecurityButtonText' | translate, true),
  "href": "SECURITY" | getPath,
  "attributes": {
    "data-nav": true,
    "data-link": "SECURITY" | getPath
  }
}) }}
{% endif %}
{% endblock %}
