{% extends "common/layout/base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleName = 'pages.security.title' | translate %}

{% set accountDetailsSummaryList = {
  classes: 'govuk-summary-list--security',
  rows: [
    {
      key: {
        text: 'pages.security.accountDetails.summaryList.email' | translate
      },
      value: {
        text: email
      },
      actions: {
        items: [
          {
            href: "/enter-password?type=changeEmail",
            text: 'general.change' | translate,
            visuallyHiddenText: 'pages.security.accountDetails.summaryList.email' | translate
          }
        ]
      }
    },
    {
      classes: 'govuk-summary-list__row--no-border',
      key: {
        text: 'pages.security.accountDetails.summaryList.password' | translate
      },
      value: {
        text: "••••••••••••••••"
      },
      actions: {
        items: [
          {
            href: "/enter-password?type=changePassword",
            text: 'general.change' | translate,
            visuallyHiddenText: 'pages.security.accountDetails.summaryList.password' | translate
          }
        ]
      }
    }
]} %}
{% 
set mfaSummaryList = {
  classes:"govuk-summary-list--security",
  attributes: {"data-test-id": "mfa-summary-list"},
  rows: mfaMethods 
}
%}

{% block content %}
  <div class="govuk-grid-row" id="your-account">
    <div class="govuk-grid-column-two-thirds {{ rowClasses }}">
      <h1 class="govuk-heading-xl">{{ 'pages.security.header' | translate }}</h1>

      <div class="summary-list-container">
        <div class="summary-list-container__context">
          <h2 class="govuk-heading-m">{{ 'pages.security.accountDetails.heading' | translate }}</h2>
        </div>
        {{ govukSummaryList(accountDetailsSummaryList) }}
      </div>
      <div class="summary-list-container">
        <div class="summary-list-container__context">
          <h2 class="govuk-heading-m">{{ 'pages.security.mfaSection.heading' | translate }}</h2>
          <p class="govuk-body">{{ 'pages.security.mfaSection.paragraph' | translate }}</p>
        </div>
        {% if mfaMethods | length > 0 %}
          {{ govukSummaryList(mfaSummaryList) }}
        {% endif %}
        {% if showAdditionalMethodUpsell %}
          <div class="summary-list-container__upsell">
            <h3 class='govuk-heading-s'>{{ 'pages.security.mfaSection.upsell.heading' | translate }}</h3>
            <p class="govuk-body">{{ 'pages.security.mfaSection.upsell.paragraph' | translate }}</p>
            <p class="govuk-body">{{ 'pages.security.mfaSection.upsell.paragraph2' | translate }}</p>
            <div class="govuk-body summary-list-container__upsell__cta">
              <a href="/enter-password?type=changePhoneNumber" class="govuk-link">{{ 'pages.security.mfaSection.upsell.link' | translate }}</a>
              <span class='govuk-tag govuk-tag--pink'>{{ 'pages.security.mfaSection.upsell.badge' | translate }}</span>
            </div>
          </div>
        {% endif %}
      </div>
      {% if supportActivityLog %}
        <div class="summary-list-container" data-test-id="activity-log-section">
          <h2 class="govuk-heading-m">{{ 'pages.security.activityHistory.heading' | translate }}</h2>
          <p class="govuk-body">{{ 'pages.security.activityHistory.info' | translate }}</p>
          <p class="govuk-body"><a href="{{activityLogUrl}}" class="govuk-link">{{ 'pages.security.activityHistory.link' | translate }}</a></p>
        </div>
      {% endif %}
      <div class="summary-list-container">
        <h2 class="govuk-heading-m">{{ 'pages.security.deleteAccount.heading' | translate }}</h2>
        <p class="govuk-body">{{ 'pages.security.deleteAccount.info' | translate }}</p>
        <p class="govuk-body"><a href="/enter-password?type=deleteAccount" class="govuk-link">{{ 'pages.security.deleteAccount.link' | translate }}</a></p>
      </div>
    </div>
  </div>
{% endblock %}
