{% extends "common/layout/base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleName = 'pages.security.title' | translate %}

{% set accountDetailsSummaryList = {
  classes: 'govuk-summary-list--security',
  rows: [
    {
      key: {
        text: 'pages.security.accountDetails.summaryList.email' | translate
      },
      value: {
        text: email
      },
      actions: {
        items: [
          {
            href: enterPasswordUrl + "&type=changeEmail",
            text: 'pages.security.accountDetails.summaryList.changeEmail' | translate
          }
        ]
      }
    },
    {
      classes: 'govuk-summary-list__row--no-border',
      key: {
        text: 'pages.security.accountDetails.summaryList.password' | translate
      },
      value: {
        text: "••••••••••••••••"
      },
      actions: {
        items: [
          {
            href: enterPasswordUrl + "&type=changePassword",
            text: 'pages.security.accountDetails.summaryList.changePassword' | translate
          }
        ]
      }
    }
]} %}

{% block content %}
  <div class="govuk-grid-row" id="your-account">
    <div class="govuk-grid-column-two-thirds {{ rowClasses }}">
      <h1 class="govuk-heading-xl">{{ 'pages.security.header' | translate }}</h1>

      <div class="summary-list-container">
        <div class="summary-list-container__content">
          <h2 class="govuk-heading-m">{{ 'pages.security.accountDetails.heading' | translate }}</h2>
        </div>
        {{ govukSummaryList(accountDetailsSummaryList) }}
      </div>

      <div class="summary-list-container">
        <div class="summary-list-container__content">
          <h2 class="govuk-heading-m">{{ 'pages.security.mfaSection.heading' | translate }}</h2>
        </div>
        {% if mfaMethods | length > 0 %}
          {% set foundPrimary = false %}
          {% set foundSecondary = false %}
          {% for method in mfaMethods %}
            {% if (method.priorityIdentifier == "DEFAULT") and not foundPrimary %}
              {# display existing primary method with options to change the method or use a different type #}
              <div class="summary-list-container__content" data-test-id="mfa-summary-list">
                <h2 class="govuk-heading-s">{{'pages.security.mfaSection.defaultMethod.heading' | translate }}</h2>
                <p class="govuk-body">{{ method.text }}</p>
                <p class="govuk-body"><a href="{{ method.linkHref }}" class="govuk-link"> {{ method.linkText }}</a></p>
                {% if canChangeTypeofPrimary %}
                <p class="govuk-body"><a href="{{enterPasswordUrl}}&type=changeDefaultMethod" class="govuk-link"> {{ ['pages.security.mfaSection.defaultMethod.change'] | join | translate }}</a></p>
                {% endif %}
              </div>
              {% set foundPrimary = true %}
            {% endif %}
          {% endfor %}

          {# backup mfa block has two states #}
          <div class="summary-list-container__content">
            {% for method in mfaMethods %}
              {% if (method.priorityIdentifier == "BACKUP") and not foundSecondary %}
                {# 1: backup method exists => display backup method block with options to change backup method or switch primary and backup #}
                <h3 class='govuk-heading-s'>{{ 'pages.security.mfaSection.backup.heading' | translate }}</h3>
                <p class="govuk-body">{{ method.text }}</p>
                <p class="govuk-body"><a href="{{enterPasswordUrl}}&type=switchBackupMethod" class="govuk-link"> {{ 'pages.security.mfaSection.backup.switchLink' | translate }}</a></p>
                <p class="govuk-body"><a href="{{enterPasswordUrl}}&type=removeBackup" class="govuk-link"> {{ 'pages.security.mfaSection.backup.removeLink' | translate }}</a></p>
                {% set foundSecondary = true %}
              {% endif %}
            {% endfor %}
            {% if not foundSecondary %}
              <h3 class='govuk-heading-s'>{{ 'pages.security.mfaSection.backup.headingNoBackup' | translate }}</h3>
              {# 2: backup method does not exist => display option to add a new backup method #}
              <p class="govuk-body">{{ 'pages.security.mfaSection.backup.paragraph' | translate }}</p>
              <p class="govuk-body">{{ 'pages.security.mfaSection.backup.paragraph2' | translate }}</p>
              <p class="govuk-body">
                <a href="{{enterPasswordUrl}}&type=addBackup" class="govuk-link">{{ 'pages.security.mfaSection.backup.link' | translate }}</a>
              </p>
            {% endif %}
          </div>
        {% endif %}

      </div>

      {% if supportActivityLog %}
        <div class="summary-list-container" data-test-id="activity-log-section">
          <h2 class="govuk-heading-m">{{ 'pages.security.activityHistory.heading' | translate }}</h2>
          <p class="govuk-body">{{ 'pages.security.activityHistory.info' | translate }}</p>
          <p class="govuk-body"><a href="{{activityLogUrl}}" class="govuk-link">{{ 'pages.security.activityHistory.link' | translate }}</a></p>
        </div>
      {% endif %}

      {% if supportGlobalLogout %}
        <div class="summary-list-container" data-test-id="global-logout-section">
          <h2 class="govuk-heading-m">{{ 'pages.security.globalLogout.heading' | translate }}</h2>
          <p class="govuk-body">{{ 'pages.security.globalLogout.info' | translate }}</p>
          <p class="govuk-body"><a href="{{'GLOBAL_LOGOUT' | getPath }}" class="govuk-link">{{ 'pages.security.globalLogout.link' | translate }}</a></p>
        </div>
      {% endif %}

      <div class="summary-list-container">
        <h2 class="govuk-heading-m">{{ 'pages.security.deleteAccount.heading' | translate }}</h2>
        <p class="govuk-body">{{ 'pages.security.deleteAccount.info' | translate }}</p>
        <p class="govuk-body"><a href="{{enterPasswordUrl}}&type=deleteAccount" class="govuk-link">{{ 'pages.security.deleteAccount.link' | translate }}</a></p>
      </div>
    </div>
  </div>
{% endblock %}
