{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% set backLink = "SECURITY" | getPath %}
{% set pageTitleName = "pages.globalLogout.pageTitle" | translate %}
{% block pageContent %}
    <h1 class="govuk-heading-l">{{ 'pages.globalLogout.title' | translate }}</h1>
    <p class="govuk-body">{{ "pages.globalLogout.paragraph1" | translate }}</p>
    <p class="govuk-body">{{ "pages.globalLogout.paragraph2" | translate }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ "pages.globalLogout.listItem1" | translate }}</li>
      <li>{{ "pages.globalLogout.listItem2" | translate }}</li>
    </ul>
    <p class="govuk-body">{{ "pages.globalLogout.paragraph3" | translate }}</p>
    <form class='govuk-form' method="POST" action='{{ "GLOBAL_LOGOUT" | getPath }}'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukButton({
          text: 'pages.globalLogout.button' | translate,
          attributes: {
            "data-nav": true,
            "data-link": "GLOBAL_LOGOUT" | getPath
          }
        }) }}
    </form>
    <a href='{{ "SIGN_IN_HISTORY" | getPath }}' class="govuk-link govuk-body">
        {{ 'pages.globalLogout.cancelButton' | translate }}
    </a>
{% endblock %}