{% extends "common/layout/base.njk" %}
{% block content %}
<div class="govuk-grid-row" {% if rowContainerId %} id="{{ rowContainerId }}" data-test-id="{{ rowContainerId }}"{% endif %}>
  <div class="govuk-grid-column-two-thirds">
  {% include "common/errors/errorSummary.njk" %}
  {% block pageContent %}
  {% endblock %}
  </div>
</div>
{% endblock %}
