{% extends "govuk/template.njk" %}
{% from "common/ga4-opl/macro.njk" import ga4OnPageLoad %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "frontend-ui/build/components/footer/macro.njk" import frontendUiFooter %}
{% from "frontend-ui/build/components/language-select/macro.njk" import frontendUiLanguageSelect %}
{%- set headerClasses -%}
{%- if not hideAccountNavigation -%} govuk-header--with-account-navigation {%- endif -%}
{%- if isUserLoggedIn %} govuk-header--with-signout {%- endif -%}
{%- endset-%}

{% block head %}
  {# Dynatrace RUM snippet #}
  {% if dynatraceRumUrl %}
  <script src='{{ dynatraceRumUrl }}' crossorigin="anonymous" nonce='{{ scriptNonce }}'></script>
  {% endif %}
  <link href="/public/style.css?{{ staticHash }}" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
  {%- if error or errors %} {{ 'general.errorTitlePrefix' | translate }} - {% endif -%}
  {%- if pageTitleName -%}
      {{ pageTitleName }}
      {%- if not hideTitleProductName %} - {% endif -%}
  {% endif -%}
  {{ 'general.serviceNameTitle' | translate if not hideTitleProductName}}
{%- endblock %}

{% block bodyStart %}
  {% include 'common/layout/banner.njk' %}
{% endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    text: "FECTranslations.skipLink.title" | translate,
    href: "#main-content"
  }) }}
{% endblock %}

{% block header %}
    {% include 'common/layout/header.njk' %}
    {% if not hideAccountNavigation and isUserLoggedIn %}
      {% include 'common/layout/navigation.njk' %}
    {% endif %}
{% endblock %}

{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">
      {% if isProd %}
        {% set bannerHtml %}
          {{ 'FECTranslations.phaseBanner.text' | translate }} <a href='{{ authFrontEndUrl + "/contact-us-questions?theme=suggestions_feedback" }}' class="govuk-link" rel="noreferrer noopener" target="_blank">{{ 'FECTranslations.phaseBanner.link' | translate | replace(".","") }}</a>.
        {% endset %}
        {{ govukPhaseBanner({
            tag: {
              text: 'FECTranslations.phaseBanner.tag' | translate
            },
            html: bannerHtml
        })}}
      {% else %}
        {{ govukPhaseBanner({
            tag: {
              text: "TEST",
              classes: "govuk-tag--yellow"
            },
            text: 'general.phaseBanner.testText' | translate
        })}}
      {% endif %}
      {{ frontendUiLanguageSelect({
          url: currentUrl,
          activeLanguage: htmlLang,
          translations: 'FECTranslations.languageSelect' | translate
        }) 
      }}
      {% block backLinkBlock %}
        {% if backLink %}
          <a href="{{backLink}}" class="govuk-back-link js-back-link">
            {{ backLinkText }}
            {{'general.back' | translate if not backLinkText}}
          </a>
        {% endif %}
      {% endblock %}
      {% block beforeContent %}{% endblock %}

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>
          {% block content %}{% endblock %}
      </main>
  </div>
  {% block feedback %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ frontendUiFooter({ translations: 'FECTranslations.footer' | translate({returnObjects: true}) })}}
{% endblock %}

{% block bodyEnd %}
    {% block scripts %}{% endblock %}
    <script type="module" src="/public/scripts/govuk-frontend.min.js?{{ staticHash }}" {% if scriptNonce %} nonce="{{ scriptNonce }}"{% endif %}></script>

    <script type="module" {% if scriptNonce %} nonce="{{ scriptNonce }}"{%  endif %}>
      import { initAll } from '/public/scripts/govuk-frontend.min.js'
      initAll()
    </script>
    <script type="text/javascript" src="/public/scripts/analytics.js?{{ staticHash }}" nonce='{{scriptNonce}}'></script>
    <script type="text/javascript" nonce='{{scriptNonce}}'>
      {% if backLinkJS %}
        var backLink = document.querySelector('.js-back-link');
        if (backLink) {
          backLink.addEventListener('click', function(e) {
            var referrer = new URL(document.referrer).hostname;

            if (referrer === document.location.hostname && window.history.length > 2) {
              event.preventDefault();
              window.history.back();
            }
          });
        }
      {% endif %}
    </script>
    <script type="text/javascript" {% if scriptNonce %} nonce="{{ scriptNonce }}"{%  endif %}>
    if (window.DI) {
      window.DI.appInit({
        ga4ContainerId: "{{ga4ContainerId}}"
      }, {
        enableGa4Tracking: {{isGa4Enabled}},
        cookieDomain: "{{analyticsCookieDomain}}",
        isDataSensitive: false,
        isPageDataSensitive: {{ opl.isPageDataSensitive | default("true") }},
        enablePageViewTracking: true,
        enableFormResponseTracking: true,
        enableFormChangeTracking: true,
        enableFormErrorTracking: true,
        enableNavigationTracking: true,
        enableSelectContentTracking: {{isSelectContentTrackingEnabled}}
      });
    }
  </script>
  <script type="module" src="{{'FINGERPRINT' | getPath }}/index.js" {% if scriptNonce %} nonce="{{ scriptNonce }}"{%  endif %}></script>
  <script type="module" {% if scriptNonce %} nonce="{{ scriptNonce }}"{%  endif %}>
    import { setFingerprintCookie } from "{{'FINGERPRINT' | getPath }}/index.js";
    setFingerprintCookie("{{ fingerprintCookieDomain }}")
  </script>

  {% if opl %}
    {{ ga4OnPageLoad({
      nonce: scriptNonce,
      englishPageTitle: pageTitleName,
      statusCode: response.statusCode,
      taxonomyLevel1: opl.taxonomyLevel1,
      taxonomyLevel2: opl.taxonomyLevel2,
      taxonomyLevel3: opl.taxonomyLevel3,
      contentId: opl.contentId,
      loggedInStatus: opl.loggedInStatus,
      dynamic: opl.dynamic
    })}}
  {% endif %}
{% endblock %}
