{% set active = activeNav if activeNav else "settings" %}
{# TODO the first two links are pointing to pages which to not exist yet, correct them once the pages are in place #}
{% set navigationItems = [
  {
    active: true if (active == "your-services") else false,
    href: accountHome,
    text: 'general.header.accounNavHomeLink' | translate
  },{
    active: true if (active == "settings") else false,
    href: accountSettings,
    text: 'general.header.accountNavSettingsLink' | translate
  },{
    active: true if (active == "sign-out") else false,
    href: accountSignOut,
    text: 'general.header.signOutLink' | translate
  }]
%}
<nav aria-label="Account navigation" class="account-navigation">
  <div class="govuk-width-container">
    <ul class="account-navigation__list">
      {% for item in navigationItems %}
        <li class="account-navigation__list-item {{ 'account-navigation__list-item--active' if item.active else '' }}"><a class="account-navigation__link" href="{{item.href}}">{{item.text}}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>
