{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitleName = 'pages.changeEmail.title' | translate %}

{% block pageContent %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{'pages.changeEmail.header' | translate}}</h1>

<form action="/change-email" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

{{ govukInput({
    label: {
        text: 'pages.changeEmail.email.label' | translate
    },
    name: "email",
    value: email,
    errorMessage: {
        attributes: { "data-test-id": "email-error"},
        text: errors['email'].text
    } if (errors['email'])})
}}

{{ govukButton({
    "text": button_text|default("general.continue.label" | translate, true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

<p class="govuk-body">
    <a href='{{ "SECURITY" | getPath }}' class="govuk-link" rel="noreferrer noopener">{{'pages.changeEmail.dontWantTo.changeEmailLinkText' | translate }}</a>
</p>

</form>
{% endblock %}
