{% extends "common/layout/base-page.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitleName = pathToTitleString | translate or 'pages.changePhoneNumber.title' | translate %}

{% block pageContent %}
  {% include "common/errors/errorSummary.njk" %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ pathToHeadingString | translate or 'pages.changePhoneNumber.header' |
    translate}}</h1>

  <form action="{{ formAction }}" method="post" novalidate>
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <p class="govuk-body">{{'pages.changePhoneNumber.info.paragraph1' | translate }}</p>

    {{ govukInput({
      label: {
      text: 'pages.changePhoneNumber.ukPhoneNumber.label' | translate
      },
      classes: "govuk-input--width-20",
      name: "phoneNumber",
      type: "tel",
      autocomplete: "tel",
      errorMessage: {
        attributes: { "data-test-id": "phoneNumber-error"},
        text: errors['phoneNumber'].text
      } if (errors['phoneNumber'])})
    }}

    {% set internationalNumberHtml %}
      {{ govukInput({
        name: "internationalPhoneNumber",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20",
        label: {
          text: 'pages.changePhoneNumber.internationalPhoneNumber.label' | translate
        },
        hint: {
          text: 'pages.changePhoneNumber.internationalPhoneNumber.hint' | translate
        },
        errorMessage: {
          attributes: { "data-test-id": "internationalPhoneNumber-error"},
          text: errors['internationalPhoneNumber'].text
        } if (errors['internationalPhoneNumber'])
      }) }}
    {% endset -%}

    {{ govukCheckboxes({
      items: [
        {
          value: "true",
          id: "hasInternationalPhoneNumber",
          name: "hasInternationalPhoneNumber",
          text: 'pages.changePhoneNumber.internationalPhoneNumber.checkBoxLabel' | translate,
          conditional: {
            html: internationalNumberHtml
          },
          checked: hasInternationalPhoneNumber === 'true'
        }
      ]
    }) }}

    {{ govukButton({
      text: 'general.continue.label' | translate,
      preventDoubleClick: true
    }) }}
  </form>

  <a href="{{"SECURITY" | getPath}}" class="govuk-link govuk-body">
    {{'pages.changePhoneNumber.info.backLink' | translate}}
  </a>
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="/public/scripts/international-phone.js" nonce='{{scriptNonce}}'></script>
{% endblock %}
