{% extends "common/layout/base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleName = 'pages.yourSettings.title' | translate %}

{% set govukSummaryListArgs =
{
    rows: [
      {
        key: {
          text: 'pages.yourSettings.summaryList.email' | translate
        },
        value: {
          text: email
        },
        actions: {
          items: [
            {
              href: "/enter-password?type=changeEmail",
              text: 'pages.yourSettings.summaryList.changeAction' | translate,
              visuallyHiddenText: 'pages.yourSettings.summaryList.email' | translate
            }
          ]
        }
      },
      {
        key: {
          text: 'pages.yourSettings.summaryList.password' | translate
        },
        value: {
          text: "••••••••••••••••"
        },
        actions: {
          items: [
            {
              href: "/enter-password?type=changePassword",
              text: 'pages.yourSettings.summaryList.changeAction' | translate,
              visuallyHiddenText: 'pages.yourSettings.summaryList.password' | translate
            }
          ]
        }
      }
]} %}

{% if isPhoneNumberVerified %}
  {% set govukSummaryListArgs = (govukSummaryListArgs.rows.push({
    key: {
        text: 'pages.yourSettings.summaryList.phoneNumber' | translate
    },
    value: {
        text: phoneNumber
    },
    actions: {
      items: [
        {
          href: "/enter-password?type=changePhoneNumber",
          text: 'pages.yourSettings.summaryList.changeAction' | translate,
          visuallyHiddenText: 'pages.yourSettings.summaryList.phoneNumber' | translate
        }
      ]
    }
  }), govukSummaryListArgs) %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row" id="your-account">
    <div class="govuk-grid-column-two-thirds {{ rowClasses }}">
      <h1 class="govuk-heading-xl">{{ 'pages.yourSettings.header' | translate }}</h1>

      <h2 class="govuk-heading-m">{{ 'pages.yourSettings.accountDetails' | translate }}</h2>

      {{ govukSummaryList(govukSummaryListArgs) }}
      <h2 class="govuk-heading-m">{{ 'pages.yourSettings.deleteAccount.heading' | translate }}</h2>
      <p class="govuk-body">{{ 'pages.yourSettings.deleteAccount.info' | translate }}</p>
      <a href="/enter-password?type=deleteAccount" class="govuk-link govuk-body">{{ 'pages.yourSettings.deleteAccount.link' | translate }}</a>
      <hr class="govuk-section-break govuk-section-break--m">
    </div>
  </div>
{% endblock %}