{% extends "common/layout/base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleName = 'pages.manageYourAccount.title' | translate %}

{% set govukSummaryListArgs =
{
    classes:"accounts-summary-list",
    rows: [
            {
                key: {
                    text: 'pages.manageYourAccount.summaryList.email' | translate
                },
                value: {
                    text: email
                },
                actions: {
                    items: [
                        {
                            href: "/enter-password?type=changeEmail",
                            text: 'pages.manageYourAccount.summaryList.changeAction' | translate,
                            visuallyHiddenText: 'pages.manageYourAccount.summaryList.email' | translate
                        }
                    ]
                }
            },
            {
                key: {
                    text: 'pages.manageYourAccount.summaryList.password' | translate
                },
                value: {
                    text: "••••••••••••••••"
                },
                actions: {
                    items: [
                        {
                            href: "/enter-password?type=changePassword",
                            text: 'pages.manageYourAccount.summaryList.changeAction' | translate,
                            visuallyHiddenText: 'pages.manageYourAccount.summaryList.password' | translate
                        }
                    ]
                }
            }
]} %}

{% if isPhoneNumberVerified %}
    {% set govukSummaryListArgs = (govukSummaryListArgs.rows.push(            {
                key: {
                    text: 'pages.manageYourAccount.summaryList.phoneNumber' | translate
                },
                value: {
                    text: phoneNumber
                },
                actions: {
                    items: [
                        {
                            href: "/enter-password?type=changePhoneNumber",
                            text: 'pages.manageYourAccount.summaryList.changeAction' | translate,
                            visuallyHiddenText: 'pages.manageYourAccount.summaryList.phoneNumber' | translate
                        }
                    ]
                }
            }), govukSummaryListArgs) %}
{% endif %}

{% block content %}
    <div class="govuk-grid-row" id="your-account">
        <div class="govuk-grid-column-two-thirds {{ rowClasses }}">
            <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{ 'pages.manageYourAccount.header' | translate }}</h1>
            <p class="govuk-body">{{ 'pages.manageYourAccount.signedInStatus' | translate }}
                <strong>{{ email }}</strong>
            </p>
            <hr class="govuk-section-break govuk-section-break--m">
            <h2 class="govuk-heading-m">{{ 'pages.manageYourAccount.accountDetails' | translate }}</h2>

            {{ govukSummaryList(govukSummaryListArgs) }}

            <h2 class="govuk-heading-m">{{ 'pages.manageYourAccount.manageEmailSubscriptions.heading' | translate }}</h2>
            <p class="govuk-body">{{ 'pages.manageYourAccount.manageEmailSubscriptions.info' | translate }}</p>
            <a href="{{ manageEmailsLink }}" class="govuk-link govuk-body">{{ 'pages.manageYourAccount.manageEmailSubscriptions.link' | translate }}</a>
            <hr class="govuk-section-break govuk-section-break--m">
            <h2 class="govuk-heading-m">{{ 'pages.manageYourAccount.deleteAccount.heading' | translate }}</h2>
            <p class="govuk-body">{{ 'pages.manageYourAccount.deleteAccount.info' | translate }}</p>
            <a href="/enter-password?type=deleteAccount" class="govuk-link govuk-body">{{ 'pages.manageYourAccount.deleteAccount.link' | translate }}</a>
            <hr class="govuk-section-break govuk-section-break--m">
            <div class="information-box">
                <h2 class="govuk-heading-m">{{ 'pages.manageYourAccount.aboutAccounts.heading' | translate }}</h2>
                <p class="govuk-body">{{ 'pages.manageYourAccount.aboutAccounts.paragraph1' | translate }}</p>
                <p class="govuk-body">{{ 'pages.manageYourAccount.aboutAccounts.paragraph2' | translate }}</p>
                <p class="govuk-body">{{ 'pages.manageYourAccount.aboutAccounts.paragraph3' | translate }}</p>
            </div>
        </div>
    </div>
{% endblock %}