{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set pageTitleName = 'pages.contact.title' | translate %}
{% set hideAccountNavigation = true %}
{% set hidePhaseBanner = true %}
{% set languageToggle = true %}
{% block pageContent %}

{% if contactWebchatEnabled %}
  <script id="smartagent" type="module" defer 
    src="{{ webchatSource }}" 
    data-company="hgsgds" data-brand="hgsgds">
  </script>
{% endif %}

<h1 class="govuk-heading-xl">{{'pages.contact.header' | translate}}</h1>
{% if showContactGuidance %}
  <section>
    {% set section1Paragraphs =  'pages.contact.section1.paragraphs' | translate({ returnObjects: true }) %}
    {% set section1Links =  'pages.contact.section1.links' | translate({ returnObjects: true }) %}
    <h2 class="govuk-heading-l">{{'pages.contact.section1.heading' | translate}}</h2>
    {% for paragraph in section1Paragraphs %}
      <p class="govuk-body">{{ paragraph }}</p>
    {% endfor %}
    {% if section1Links.length %}
    <ul class="govuk-list govuk-list--bullet">
      {% for link in section1Links %}
        <li><a class="govuk-link" href="{{link["href"]}}">{{link["text"]}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
{% endif %}

<section>
  <h2 class="govuk-heading-l">{{'pages.contact.section2.heading' | translate}}</h2>
  {% set section2Paragraphs =  'pages.contact.section2.paragraphs' | translate({ returnObjects: true }) %}
  {% for paragraph in section2Paragraphs %}
    <p class="govuk-body">{{ paragraph }}</p>
  {% endfor %}

  <p class="govuk-body contact-reference">
    {{'pages.contact.section2.refCode' | translate}}
    <strong class="contact-reference__code">{{ referenceCode }}</strong>
  </p>
</section>

<section>
  <h2 class="govuk-heading-l">{{'pages.contact.section3.heading' | translate}}</h2>
  {% if contactWebchatEnabled %}
    <section>
      {% set webchatParagraphs =  'pages.contact.section3.webchat.paragraphs' | translate({ returnObjects: true }) %}

      <h3 class="govuk-heading-m">{{'pages.contact.section3.webchat.heading' | translate}}</h3>

      {% for paragraph in webchatParagraphs %}
        <p class="govuk-body">{{ paragraph | safe | replace('[useWebchatLinkHref]', 'pages.contact.section3.webchat.useWebchatLinkHref' | translate ) }}</p>
      {% endfor %}
    </section>
  {% endif %}

  {% if contactPhoneEnabled %}
    <section>
      {% set phoneParagraphs1 = 'pages.contact.section3.phone.paragraphs' | translate({ returnObjects: true }) %}
      {% set phoneParagraphs2 = 'pages.contact.section3.phone.paragraphs2' | translate({ returnObjects: true }) %}
      {% set insetTextHtml %}
        {% set insetTextParagraphs =  'pages.contact.section3.phone.insetText.paragraphs' | translate({ returnObjects: true }) %}
        {% for paragraph in insetTextParagraphs %}
          <p class="govuk-body">{{ paragraph | safe }}</p>
        {% endfor %}
      {% endset %}

      <h3 class="govuk-heading-m">{{'pages.contact.section3.phone.heading' | translate}}</h3>

      {% for paragraph in phoneParagraphs1 %}
        <p class="govuk-body">{{ paragraph }}</p>
      {% endfor %}

      {{ govukInsetText({
        html: insetTextHtml
      }) }}

      {% for paragraph in phoneParagraphs2 %}
        <p class="govuk-body">{{ paragraph | safe | replace('[callChargesLinkHref]', 'pages.contact.section3.phone.callChargesLinkHref' | translate ) }}</p>
      {% endfor %}
    </section>
  {% endif %}
  <section>
    <h3 class="govuk-heading-m">{{'pages.contact.section3.email.heading' | translate}}</h3>
    {% set emailParagraphs =  'pages.contact.section3.email.paragraphs' | translate({ returnObjects: true }) %}

    {% for paragraph in emailParagraphs %}
      <p class="govuk-body">{{ paragraph | safe | replace('[emailServiceLinkHref]', contactEmailServiceUrl | translate ) }}</p>
    {% endfor %}
  </section>
</section>

{% endblock %}
