{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set helpText %}
    <p class="govuk-body">{{ 'pages.addBackup.app.help.text1' | translate }}</p>
    <p class="govuk-body">{{ 'pages.addBackup.app.help.text2' | translate }}</p>
{% endset %}
{% set smsItem = {
    value: 'sms',
    text: 'pages.addBackup.sms.title' | translate,
    hint: {
        text: 'pages.addBackup.sms.hint' | translate
    }
} %}
{% set appItem = {
    value: 'app',
    text: 'pages.addBackup.app.title' | translate
} %}

{% if showSingleMethod %}
    {% set mfaMethods = [smsItem] %}
{% else %}
    {% set mfaMethods = [smsItem, appItem] %}
{% endif %}

{% set pageTitleName = 'pages.addBackup.backup.title' | translate %}
{% block pageContent %}
    {% include "common/errors/errorSummary.njk" %}
    <form action="{{ "ADD_MFA_METHOD" | getPath }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% if showSingleMethod %}
      <input type="hidden" name="addBackup" value="sms" />
      <h1 class="govuk-heading-l">{{ "pages.addBackup.backup.title" | translate }}</h1>
      <p class="govuk-body">{{ "pages.addBackup.backup.sms.message" | translate }}</p>
        {{ govukButton({
            "text": button_text|default("pages.addBackup.backup.sms.button" | translate, true),
            "type": "Submit",
            "preventDoubleClick": true
        }) }}
    {% else %}
      {{ govukRadios({
        name: "addBackup",
        fieldset: {
            legend: {
              text: "pages.addBackup.title" | translate,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
        },
        items: mfaMethods,
        errorMessage: {
              attributes: { "data-test-id": "add-mfaMethod-error"},
              text: errors["addBackup"].text
        } if(errors["addBackup"])
        })
      }}

      {{ govukDetails({
          summaryText: "pages.addBackup.app.help.title" | translate,
          html: helpText
          })
      }}

      {{ govukButton({
        text: "pages.addBackup.continue" | translate
      }) }}
    {% endif %}
    </form>

    <p class="govuk-body">
        <a href="{{ "SECURITY" | getPath }}" class="govuk-link">{{ "pages.addBackup.backLink" | translate }}</a>
    </p>
{% endblock %}
