{% set formAction =  "CHANGE_DEFAULT_METHOD_SMS" | getPath %}
{% set pathToTitleString =  "pages.changeDefaultMethod.sms.title" %}
{% set pathToHeadingString =  "pages.changeDefaultMethod.sms.heading" %}
{% include "common/mfa/add-phone-number.njk" %}
