{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'pages.changeDefaultMethod.title' | translate %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ "pages.changeDefaultMethod.title" | translate }}</h1>

  {% if currentMethodType == "SMS" %}
    <p class="govuk-body">{{ "pages.changeDefaultMethod.currentIsPhone" | translate | safe | replace("[phoneNumber]", phoneNumber) }}</p>
    <p class="govuk-body">{{ "pages.changeDefaultMethod.switchToApp" | translate }}</p>
    {{ govukButton({
      text: "pages.changeDefaultMethod.setUpAppButton" | translate,
      href: "CHANGE_DEFAULT_METHOD_APP" | getPath,
      attributes: {
        "data-nav": true,
        "data-link": "CHANGE_DEFAULT_METHOD_APP" | getPath
      }
    }) }}
  {% endif %}

  {% if currentMethodType == "AUTH_APP" %}
    <p class="govuk-body">{{ "pages.changeDefaultMethod.currentIsApp" | translate }}</p>
    <p class="govuk-body">{{ "pages.changeDefaultMethod.switchToPhone" | translate }}</p>
    {{ govukButton({
      text: "pages.changeDefaultMethod.setUpPhoneButton" | translate,
      href: "CHANGE_DEFAULT_METHOD_SMS" | getPath,
      attributes: {
        "data-nav": true,
        "data-link": "CHANGE_DEFAULT_METHOD_SMS" | getPath
      }
    }) }}
  {% endif %}

  <p class="govuk-body">
    <a href="{{"SECURITY" | getPath}}" class="govuk-link">
      {{'pages.changeDefaultMethod.cancelButton' | translate }}
    </a>
  </p>
{% endblock %}
