{% extends "common/layout/base-page.njk" %}

{% set pageTitleName = 'pages.contact.title' | translate %}

{% block pageContent %}

<script id="smartagent" type="module" defer 
  src="{{ webchatSource }}" 
  data-company="hgsgds" data-brand="hgsgds">
</script>

<h1 class="govuk-heading-l">{{'pages.contact.header' | translate}}</h1>

{% endblock %}
