{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set cancelText = 'pages.removeBackupMethod.cancelBackLink' | translate %}

{% set pageTitleName = 'pages.removeBackupMethod.title' | translate %}

{% block pageContent %}
    <h1 class='govuk-heading-l'>{{ "pages.removeBackupMethod.title" | translate }}</h1>
    <p class='govuk-body'>{{ "pages.removeBackupMethod.paragraph" | translate }}</p>

    {% if method.mfaMethodType == 'AUTH_APP' %}
        <p class='govuk-body'>{{ "pages.removeBackupMethod.app" | translate }}</p>
    {% endif %}

    {% if method.mfaMethodType == 'SMS' %}
        <p class='govuk-body'>{{ "pages.removeBackupMethod.sms" | translate | safe | replace("[phoneNumber]", phoneNumber) }}</p>
    {% endif %}

     
    <form action="{{ "DELETE_MFA_METHOD" | getPath }}" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <input type="hidden" name="methodId" value="{{mfaIdentifier}}" />
        {{ govukButton({
        "text": button_text|default('pages.removeBackupMethod.button' | translate, true),
        "type": "Submit",
        "preventDoubleClick": true,
        attributes: {
          "data-nav": true,
          "data-link": "DELETE_MFA_METHOD" | getPath
        }        
        }) }}
    
        <p class="govuk-body"> <a href="{{ "SECURITY" | getPath }}" class="govuk-link" rel="noreferrer noopener">{{cancelText}}</a></p>
    </div>
{% endblock %}