{% extends "common/layout/base-page.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitleName = 'pages.changePhoneNumber.noUkPhoneNumber.title' | translate %}
{% set detailBlockParagraphs %}
  <p>{{ 'pages.changePhoneNumber.noUkPhoneNumber.detailTextLine1' | translate }}</p>
  <p>{{ 'pages.changePhoneNumber.noUkPhoneNumber.detailTextLine2' | translate }}</p>
  <p>{{ 'pages.changePhoneNumber.noUkPhoneNumber.detailTextLine3' | translate }}</p>
{% endset %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'pages.changePhoneNumber.noUkPhoneNumber.header' | translate }}</h1>

  <p class="govuk-body">{{ 'pages.changePhoneNumber.noUkPhoneNumber.paragraph1' | translate }}</p>

  <h2 class="govuk-heading-m">{{ 'pages.changePhoneNumber.noUkPhoneNumber.sub-header' | translate }}</h2>

  <p class="govuk-body">{{ 'pages.changePhoneNumber.noUkPhoneNumber.paragraph2' | translate }}</p>

  {% if not hasBackupAuthApp %}
    {{ govukDetails({
    summaryText: 'pages.changePhoneNumber.noUkPhoneNumber.detailSummary' | translate,
    html: detailBlockParagraphs
    }) }}
  {% endif %}

  <p class="govuk-body">{{ 'pages.changePhoneNumber.noUkPhoneNumber.paragraph3' | translate }}</p>

  <ol class="govuk-list govuk-list--number">
    <li >{{ 'pages.changePhoneNumber.noUkPhoneNumber.listItem1' | translate | safe}}</li>
    <li >{{ 'pages.changePhoneNumber.noUkPhoneNumber.listItem2' | translate | safe }}</li>
  </ol>

  {{ govukButton({
    text: 'pages.changePhoneNumber.noUkPhoneNumber.backLinkButton' | translate,
    href:  "SECURITY" | getPath
  }) }}
{% endblock %}
