{% extends "common/layout/base-page.njk" %}
{% from "common/show-password/macro.njk" import govukInputWithShowPassword %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitleName = 'pages.changePassword.title' | translate %}

{% block pageContent %}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.changePassword.header' | translate}}</h1>

<form action="/change-password" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

    <p class="govuk-body">{{'pages.changePassword.password.paragraph1' | translate}}</p>
    <ul class="govuk-list govuk-list--bullet">
     <li>{{ 'pages.changePassword.password.bulletPoint1' | translate}}</li>
     <li>{{ 'pages.changePassword.password.bulletPoint2' | translate}}</li>
    </ul>

     <p class="govuk-body">{{'pages.changePassword.password.paragraph2' | translate}}</p>

    {{ govukInputWithShowPassword('pages.changePassword.password.label'  | translate, "password", errors) }}
    {{ govukInputWithShowPassword('pages.changePassword.confirmPassword.label' | translate, "confirm-password", errors) }}

{{ govukDetails({
  summaryText: 'pages.changePassword.securePasswordDetails.summary' | translate,
  text: 'pages.changePassword.securePasswordDetails.text' | translate
}) }}

{{ govukButton({
    "text": button_text|default("general.continue.label" | translate, true),
    "type": "Submit",
    "preventDoubleClick": true
}) }}

</form>

<a href="/manage-your-account" class="govuk-link govuk-body" rel="noreferrer noopener">{{'pages.changePassword.backLink' | translate }}</a>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/public/scripts/showPassword.js"></script>
{% endblock %}

