{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set hideAccountNavigation = hideAccountNavigation %}
{% set pageTitleName = 'error.timeoutError.title' | translate %}

{% block pageContent %}
  <h1 class="govuk-heading-l">{{ 'error.timeoutError.header' | translate }}</h1>
  <p class="govuk-body">{{ 'error.timeoutError.content.paragraph1' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>{{ 'error.timeoutError.content.listItem1' | translate }}</li>
      <li>{{ 'error.timeoutError.content.listItem2' | translate }}</li>
  </ul>
  <p class="govuk-body">{{ 'error.timeoutError.content.paragraph2' | translate }}</p>

  {{ govukButton({
      text: 'error.timeoutError.content.signInButtonText' | translate,
      href: '/',
      attributes: {"data-nav": true,"data-link": "/"}
  }) }}

  <p class="govuk-body">
      <a href="{{'error.timeoutError.content.govUKHomepageLink' | translate }}" class="govuk-link">{{'error.timeoutError.content.govUKHomepageLinkText' | translate }}</a>
  </p>
{% endblock %}

