{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'pages.switchBackupMethod.title' | translate %}

{% block pageContent %}
    <h1 class="govuk-heading-l">{{ 'pages.switchBackupMethod.title' | translate }}</h1>
    {% if currentBackup.method.mfaMethodType == "AUTH_APP" %}
        <p class='govuk-body'>{{ 'pages.switchBackupMethod.newDefaultApp' | translate }}</p>
    {% endif %}

    {% if currentBackup.method.mfaMethodType == "SMS" %}
        <p class='govuk-body'>{{ 'pages.switchBackupMethod.newDefaultSms' | translate | safe | replace("[phoneNumber]", currentBackup.phoneNumber) }}</p>
    {% endif %}

    {% if currentDefault.method.mfaMethodType == "AUTH_APP" %}
        <p class='govuk-body'>{{ 'pages.switchBackupMethod.newBackupApp' | translate }}</p>
    {% endif %}

    {% if currentDefault.method.mfaMethodType == "SMS"%}
        <p class="govuk-body">{{ 'pages.switchBackupMethod.newBackupSms' | translate | safe | replace("[phoneNumber]", currentDefault.phoneNumber) }}</p>
    {% endif %}

    <form action="{{ 'SWITCH_BACKUP_METHOD' | getPath }}" method="post">
        <input type='hidden' name='_csrf' value="{{csrfToken}}" />
        <input type='hidden' name='newBackup' value="{{currentDefault.mfaIdentifier}}" />
        <input type='hidden' name='newDefault' value="{{currentBackup.mfaIdentifier}}" />
        {{ govukButton({
          "text": button_text|default('pages.switchBackupMethod.button' | translate, true),
          "type": "Submit",
          "preventDoubleClick": true,
          attributes: {
          "data-nav": true,
          "data-link": "SWITCH_BACKUP_METHOD_CONFIRMATION" | getPath
      }
        }) }}
    </form>

    <p class="govuk-body">
        <a href="{{ "SECURITY" | getPath }}" class="govuk-link">{{ "pages.switchBackupMethod.cancelLinkText" | translate }}</a>
    </p>
{% endblock %}