{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% set pageTitleName = 'pages.deleteAccountConfirmed.title' | translate %}
{% block content %}

{% include "common/errors/errorSummary.njk" %}

{{ govukPanel({
    titleText: 'pages.deleteAccountConfirmed.header' | translate
}) }}

<p class="govuk-body">{{'pages.deleteAccountConfirmed.paragraph' | translate}}</p>

{{ govukButton({
  text: 'pages.deleteAccountConfirmed.backHome' | translate,
  "href": "/manage-your-account"
}) }}

{% endblock %}