{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% set pageTitleName = 'pages.deleteAccount.title' | translate %}
{% set contentId = "0768fa94-3a7a-4f19-8bf5-a1d5afa49023" if services.length else "7c0ae794-46ba-4abd-bf23-ebd70782a96b" %}

{% block pageContent%}

{% include "common/errors/errorSummary.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-top-0">{{'pages.deleteAccount.header' | translate}}</h1>

<p class="govuk-body">{{'pages.deleteAccount.paragraph1' | translate}}</p>

 {% if services.length %}
  <p class="govuk-body">{{ 'pages.deleteAccount.paragraph2' | translate }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for service in services %}

      {% set locale = ['clientRegistry.', env, '.', service.client_id, '.'] | join %}
        <li data-test-id="service-list-item">{{ [locale, 'header'] | join | translate }}</li>

    {% endfor %}
    </ul>
    {% if hasGovUkEmailSubscription %}
      <p class="govuk-body" data-test-id="govuk-email-subscription-info">{{ 'pages.deleteAccount.paragraph3' | translate }}</p>
    {% endif %}
  <p class="govuk-body">{{ 'pages.deleteAccount.paragraph4b' | translate }}</p>
  {% endif %}

  {% if not services.length %}
    <p class="govuk-body", data-test-id="no-services-content">{{ 'pages.deleteAccount.paragraph4a' | translate }}</p>
  {% endif %}
  <p class="govuk-body">{{ 'pages.deleteAccount.paragraph5' | translate }}</p>

{{ govukInsetText({
  text: 'pages.deleteAccount.details' | translate
}) }}

<form action="/delete-account" method="post" novalidate>

<input type="hidden" name="_csrf" value="{{csrfToken}}"/>

{{ govukButton({
  text: 'pages.deleteAccount.deleteAccount' | translate,
  classes: "govuk-button--warning",
  "type": "Submit",
  "preventDoubleClick": true
}) }}

</form>

<a href="/manage-your-account" class="govuk-link govuk-body">
    {{ 'pages.deleteAccount.doNotDeleteAccount' | translate }}
</a>
{{ga4OnPageLoad({ nonce: scriptNonce,statusCode:"200",englishPageTitle:pageTitleName, taxonomyLevel1: "accounts", taxonomyLevel2:"delete account", contentId:contentId,loggedInStatus:true,dynamic:true})}}
{% endblock %}
