{% set formAction =  "ADD_MFA_METHOD_SMS" | getPath %}
{% set pathToTitleString =  "pages.addBackupSms.title" %}
{% set pathToHeadingString =  "pages.addBackupSms.heading" %}
{% include "common/mfa/add-phone-number.njk" %}
