{% extends "common/layout/base-page.njk" %}
{% set pageTitleName = 'pages.permanentlySuspendedScreen.title' | translate %}
{% set continueLinkHref = 'SEARCH_SERVICES' | getPath if searchableListEnabled else 'pages.permanentlySuspendedScreen.section2.link.href' | translate %}

{% block pageContent %}
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.permanentlySuspendedScreen.header' | translate }}</h1>

  <p class="govuk-body">{{'pages.permanentlySuspendedScreen.section1.paragraph1' | translate }}</p>

  <h2 class="govuk-heading-m">{{'pages.permanentlySuspendedScreen.section2.heading' | translate }}</h2>

  <p class="govuk-body">{{'pages.permanentlySuspendedScreen.section2.paragraph1' | translate }}</p>
  
  <p class="govuk-body">
    <a href="{{continueLinkHref}}" class="govuk-link">
      {{'pages.permanentlySuspendedScreen.section2.link.text' | translate}}
    </a>
  </p>
{% endblock %}