{% extends "common/layout/base.njk" %}
{% set pageTitleName = 'pages.permanentlySuspendedScreen.title' | translate %}

{% block content %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.permanentlySuspendedScreen.header' | translate }}</h1>

    <p class="govuk-body">{{'pages.permanentlySuspendedScreen.section1.paragraph1' | translate }}</p>

    <h3 class="govuk-heading-m">
        {{'pages.permanentlySuspendedScreen.section2.heading' | translate}}
    </h3>

    <p class="govuk-body">{{'pages.permanentlySuspendedScreen.section2.paragraph1' | translate }}</p>

    <a href="{{'pages.permanentlySuspendedScreen.link.href' | translate}}" class="govuk-link govuk-body">
    {{'pages.permanentlySuspendedScreen.link.text' | translate}}
    </a>

{% endblock %}