{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% set pageTitleName = 'pages.reportSuspiciousActivity.alreadyReported.title' | translate if eventReportedTime else 'pages.reportSuspiciousActivity.title' | translate %}
{% set backLinkJS = true %}

{% block pageContent %}
  {% if alreadyReported == true %}
    {# The event has already been reported #}
    <h1 class="govuk-heading-l">{{ 'pages.reportSuspiciousActivity.alreadyReported.header' | translate }}</h1>
    <p class="govuk-body">{{ 'pages.reportSuspiciousActivity.alreadyReported.paragraph' | translate | safe | replace("[date]", eventReportedTime)}}</p>
    {% if reportNumber %}
      <p class="govuk-body">{{ 'pages.reportSuspiciousActivity.alreadyReported.paragraph2' | translate | safe | replace("[reportNumber]", reportNumber)}}</p>

    {% else %}
      {# account for the possibility of users re-visiting the report page soon after reporting an event, before a report number is known #}
      <p class="govuk-body">{{ 'pages.reportSuspiciousActivity.alreadyReported.noReportNo' | translate }}</p>
    {% endif %}
  {% else %}
    {# The event has not been reported yet – show report form #}
    <h1 class="govuk-heading-l">{{ 'pages.reportSuspiciousActivity.header' | translate }}</h1>
    <p class="govuk-body">{{ 'pages.reportSuspiciousActivity.intro' | translate }}</p>

    {% set insetTextHTML %}
      {% include "common/activity-history/event.njk" %}
    {% endset %}
    {{ govukInsetText({
        html: insetTextHTML
    })}}
    <p class="govuk-body">{{ 'pages.reportSuspiciousActivity.paragraph1' | translate }}</p>
    <p class="govuk-body">{{ 'pages.reportSuspiciousActivity.paragraph2' | translate | safe | replace("[email]", email)}}</p>

    <form action="{{reportSuspiciousActivityUrl}}/done" method="post" novalidate="novalidate">
      <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
      <input type="hidden" name="event_id" value="{{eventId}}"/>
      <input type="hidden" name="page" value="{{page}}"/>
      {{ govukButton({
        "text": 'pages.reportSuspiciousActivity.submitButtonText' | translate,
        "type": "Submit",
        "preventDoubleClick": true
      }) }}
    </form>
  {% endif %}
{% endblock %}
