{% extends "common/layout/base-page.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitleName = 'pages.checkYourPhone.title' | translate %}

{% block pageContent %}

    {{ govukErrorSummary({
        errorList: errors,
        titleText: 'pages.checkYourPhone.errorSummary.title' | translate
    })}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{'pages.checkYourPhone.header' | translate}}</h1>
    {{ govukInsetText({
        text: 'pages.checkYourPhone.text' | translate | replace("[mobile]", phoneNumber)
    })}}

    <p class="govuk-body">{{'pages.checkYourPhone.info.paragraph' | translate}}</p>

    <form action="/check-your-phone" method="post" novalidate="novalidate">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        <input type="hidden" name="phoneNumber" value="{{phoneNumber}}"/>
         {# These fields are needed when the page is re-rendered once an error has occurred #}
        <input type="hidden" name="resendCodeLink" value="{{resendCodeLink}}"/>
        <input type="hidden" name="changePhoneNumberLink" value="{{changePhoneNumberLink}}"/>
        {{ govukInput({
            label: {
                text: 'pages.checkYourPhone.code.label' | translate
            },
            classes:"govuk-input--width-5",
            id: "code",
            name: "code",
            inputmode: "numeric",
            spellcheck: false,
            errorMessage: {
                text: errors['code'].text,
                attributes: { "data-test-id": "code-error"}
            } if (errors['code'])})
        }}

        {% set detailsHTML %}
            <p class="govuk-body">{{'pages.checkYourPhone.details.text' | translate | replace("[resendCodeLink]", resendCodeLink) | replace("[changePhoneNumberLink]", changePhoneNumberLink) | safe }}</p>
        {% endset %}

        {{ govukDetails({
            summaryText: 'pages.checkYourPhone.details.summaryText' | translate,
            html: detailsHTML
        }) }}

        {{ govukButton({
            "text": button_text|default("general.continue.label" | translate, true),
            "type": "Submit",
            "preventDoubleClick": true
        }) }}
    </form>
    {{ga4OnPageLoad({ nonce: scriptNonce,statusCode:"200",englishPageTitle:pageTitleName, taxonomyLevel1: "accounts", taxonomyLevel2:"change phone number", contentId:"fb69b162-9ddb-41db-a8fa-3cca7fea2fa9",loggedInStatus:true,dynamic:true})}}
{% endblock %}
