{% extends "common/layout/base-page.njk" %}
{% from "common/show-password/macro.njk" import govukInputWithShowPassword %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set contentIds  = {
    changeEmail: "003",
    changePassword: "004",
    changePhoneNumber: "005",
    deleteAccount:"006"
} %}

{% if contentIds[requestType] %}
    {% set contentId = contentIds[requestType] %}
{% else %}
    {% set contentId = "undefined" %}
{% endif %}

{% if requestType == 'changePassword' %}
    {% set pageTitleName = 'pages.enterPassword.changePassword.title' | translate %}
   
{%  else %}
    {% set pageTitleName = 'pages.enterPassword.title' | translate %}
   
{% endif %}

{% set backLink = "/manage-your-account" %}

{% block pageContent %}
{% include "common/errors/errorSummary.njk" %}

{% if requestType == 'changeEmail' %}
    {% include 'enter-password/_change-email.njk' %}
    {% set pageTitleName ='pages.enterPassword.changeEmail.header' | translate%}
{% endif %}

{% if requestType == 'changePassword' %}
    {% include 'enter-password/_change-password.njk' %}
{% endif %}

{% if requestType == 'changePhoneNumber' %}
    {% include 'enter-password/_change-phone-number.njk' %}
    {% set pageTitleName = 'pages.enterPassword.changePhoneNumber.header' | translate %}
{% endif %}

{% if requestType == 'deleteAccount' %}
    {% include 'enter-password/_delete-account.njk' %}
    {% set pageTitleName = 'pages.enterPassword.deleteAccount.header' | translate %}
{% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/public/scripts/showPassword.js"></script>
    {{ga4OnPageLoad({ nonce: scriptNonce,statusCode:"200",englishPageTitle:pageTitleName, taxonomyLevel1: "", taxonomyLevel2:"", contentId:contentId,loggedInStatus:true,dynamic:true})}}
{% endblock %}