{% extends "common/layout/base-page.njk" %}
{% from "common/show-password/macro.njk" import govukInputWithShowPassword %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set paragraph = ['pages.enterPassword.', requestType, '.paragraph'] | join | translate %}
{% set cancelText = 'pages.enterPassword.cancelText' | translate %}
{% set header = ['pages.enterPassword.', requestType, '.header'] | join | translate %}

{% if requestType == 'changePassword' %}
  {% set pageTitleName = 'pages.enterPassword.changePassword.title' | translate %}
{% else %}
  {% set pageTitleName = 'pages.enterPassword.title' | translate %}
{% endif %}
{% if fromSecurity %}
  {% set backLink = "/manage-your-account" %}
{% endif %}

{% block pageContent %}
{% include "common/errors/errorSummary.njk" %}

    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">{{header}}</h1>

    <form action="{{'ENTER_PASSWORD' | getPath }}" method="post" novalidate>

        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        <input type="hidden" name="requestType" value="{{requestType}}"/>
        <input type="hidden" name="fromSecurity" value="{{fromSecurity}}"/>

        <p class="govuk-body">{{paragraph}}</p>

        {{ govukInputWithShowPassword({
            label: 'pages.enterPassword.password.label' | translate,
            id: "password",
            errors: errors,
            showSettings: {
                show: 'general.showPassword.show' | translate,
                hide: 'general.showPassword.hide' | translate,
                showFullText: 'general.showPassword.showFullText' | translate,
                hideFullText: 'general.showPassword.hideFullText' | translate,
                announceShown: 'general.showPassword.announceShown' | translate,
                announceHidden: 'general.showPassword.announceHidden' | translate
            }
        })}}

        {{ govukButton({
        "text": button_text|default('general.continue.label' | translate, true),
        "type": "Submit",
        "preventDoubleClick": true
        }) }}
        {% if fromSecurity %}
        <p class="govuk-body"> <a href="/manage-your-account" class="govuk-link" rel="noreferrer noopener">{{cancelText}}</a></p>
        {% endif %}
    </form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/public/scripts/showPassword.js" nonce='{{ scriptNonce }}'></script>
    {% set contentId = oplValues[requestType].contentId if oplValues[requestType] else "undefined" %}
    {% set taxonomyLevel2Value = oplValues[requestType].taxonomyLevel2 if oplValues[requestType] else "undefined" %}
    {{ga4OnPageLoad({ nonce: scriptNonce,statusCode:"200",englishPageTitle:pageTitleName, taxonomyLevel1: "accounts", taxonomyLevel2:taxonomyLevel2Value, contentId:contentId,loggedInStatus:true,dynamic:true})}}
{% endblock %}