{% extends "common/layout/base-page.njk" %}
{% set hideAccountNavigation = hideAccountNavigation %}
{% set pageTitleName = 'pages.signedOut.title' | translate %}

{% block pageContent %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{'pages.signedOut.header' | translate }}</h1>

  <p class="govuk-body">
    {{'pages.signedOut.paragraph1' | translate}} <a href="{{signinLink}}" class="govuk-link">{{'pages.signedOut.signInLinkText' | translate}}</a>.
  </p>
  <p class="govuk-body">
  {{'pages.signedOut.paragraph2' | translate}} <a href="{{'pages.signedOut.govukLinkHref' | translate}}" class="govuk-link">{{'pages.signedOut.govukLinkText' | translate}}</a>.
  </p>
{% endblock %}

